/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.socials, .navigation__list, .contact__list, .features__list, .work-examples__list, .our-team__list, .clients__list, .form-modal__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features, .work-examples, .our-team, .clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .features, .work-examples, .our-team, .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  color: #757575;
  background: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item:not(:nth-child(4)) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.footer-socials .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link:hover, .socials__link:focus {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__web {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

.logo__studio {
  color: #000000;
  font-family: Raleway, sans-serif;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 88px;
}

@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover {
  fill: #2196f3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__icon-crose {
  display: none;
}

.menu-button.is-open .menu-button__icon-crose {
  display: block;
}

.menu-button.is-open .menu-button__icon-burger {
  display: none;
}

@media (max-width: 767px) {
  .navigation {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-top: 1px solid #ECECEC;
    background-color: #ffffff;
    z-index: 1;
  }
  .navigation.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item {
  display: block;
}

@media (max-width: 767px) {
  .navigation__item {
    margin-bottom: 40px;
  }
  .navigation__item:last-child {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.navigation__link:hover, .navigation__link:focus {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.navigation__link--current {
  position: relative;
  color: #2196f3;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  right: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .navigation__link--current::after {
    bottom: -8px;
  }
}

@media (min-width: 768px) {
  .navigation__link--current::after {
    bottom: -2px;
  }
}

@media (min-width: 1200px) {
  .navigation__link--current::after {
    bottom: -1px;
  }
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media (max-width: 767px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .contact__item {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contact__item {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contact__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link:hover, .contact__link:focus {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.contact__icon {
  margin-right: 8px;
  fill: #757575;
}

@media (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0 solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  letter-spacing: 0.06em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/001hero-mob.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/001hero-mob.jpg");
  background-position: center;
}

@media (max-width: 767px) {
  .hero {
    background-image: url("../images/hero/001hero-mob.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/001hero-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/001hero-mob@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/002hero-tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/002hero-tab.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/002hero-tab@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/002hero-tab@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/003hero-desk.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/003hero-desk.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/003hero-desk@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/003hero-desk@2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-transform: uppercase;
}

.features__list {
  display: block;
}

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.features__icon-antenna::before {
  background-image: url("../images/icons/antenna.svg");
}

.features__icon-clock::before {
  background-image: url("../images/icons/clock.svg");
}

.features__icon-diagram::before {
  background-image: url("../images/icons/diagram.svg");
}

.features__icon-astronaut::before {
  background-image: url("../images/icons/astronaut.svg");
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .features__item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }
  .features__item:nth-child(4n) {
    margin-right: 0;
  }
}

.features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.work-examples {
  padding-top: 0;
  display: none;
}

@media (min-width: 1200px) {
  .work-examples {
    display: block;
  }
}

.work-examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-examples__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-examples__item:nth-child(3n) {
  margin-right: 0px;
}

.work-examples__description {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__list {
  display: block;
}

@media (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.our-team__item {
  padding-bottom: 24px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item {
    width: calc((100% - 30px) / 2);
  }
  .our-team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .our-team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .our-team__item {
    padding-bottom: 30px;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

.our-team__item:nth-child(4n) {
  margin-right: 0;
}

.our-team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}

.our-team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.socials__icon--team-icon {
  fill: #afb1b8;
}

.socials__item:hover .socials__icon--team-icon {
  fill: #ffffff;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
  }
}

.clients__item:nth-child(6n) {
  margin-right: 0;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  width: 210px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}

.clients__link:hover {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
}

.clients__icon {
  display: block;
  fill: #afb1b8;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

.logo__studio--footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
}

.address {
  font-style: normal;
}

.address__location {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__mail {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .address__mail {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.address__tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .footer-socials {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials .slogan {
    margin-top: 0;
  }
}

.slogan {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .slogan {
    margin-top: 12px;
  }
}

.footer__icon {
  fill: #ffffff;
}

.subscribe {
  min-width: 450px;
}

@media screen and (max-width: 450px) {
  .subscribe {
    min-width: 100%;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/icon-send.svg");
  color: #ffffff;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 300ms linear 0.7s;
  transition: 300ms linear 0.7s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .backdrop {
    padding-right: 159px;
    padding-left: 159px;
    padding-top: 208px;
  }
}

@media (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden .modal {
  top: -100%;
  -webkit-transform: translateX(-50%) scale(0.1);
          transform: translateX(-50%) scale(0.1);
}

.modal__btn-close {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__btn-close:hover .modal__icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.modal__slogan {
  display: block;
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-modal__item {
  margin-bottom: 10px;
}

.form-modal__label-field {
  position: relative;
  display: block;
}

.form-modal__label {
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal__input:focus {
  outline: none;
  border-color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__icon {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
  margin-left: 12px;
}

.form-modal__input:focus + .form-modal__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__comment {
  display: block;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:focus {
  outline: none;
  border-color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.form-modal__link {
  color: #2196f3;
}

.form-modal__checkbox {
  font-size: 12px;
  line-height: 1.16;
}

@media (min-width: 1200px) {
  .form-modal__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal__checkbox::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 5px;
}

.form-modal__checkbox--checked:checked ~ span::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-modal__button {
  display: block;
}
/*# sourceMappingURL=main.css.map */