/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.navigation__list, .contact__list, .filters, .projects, .socials {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  color: #757575;
  background: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__web {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

.logo__studio {
  color: #000000;
  font-family: Raleway, sans-serif;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 88px;
}

@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover {
  fill: #2196f3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button__icon-crose {
  display: none;
}

.menu-button.is-open .menu-button__icon-crose {
  display: block;
}

.menu-button.is-open .menu-button__icon-burger {
  display: none;
}

@media (max-width: 767px) {
  .navigation {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-top: 1px solid #ECECEC;
    background-color: #ffffff;
    z-index: 1;
  }
  .navigation.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item {
  display: block;
}

@media (max-width: 767px) {
  .navigation__item {
    margin-bottom: 40px;
  }
  .navigation__item:last-child {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.navigation__link:hover, .navigation__link:focus {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.navigation__link--current {
  position: relative;
  color: #2196f3;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  right: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .navigation__link--current::after {
    bottom: -8px;
  }
}

@media (min-width: 768px) {
  .navigation__link--current::after {
    bottom: -2px;
  }
}

@media (min-width: 1200px) {
  .navigation__link--current::after {
    bottom: -1px;
  }
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media (max-width: 767px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .contact__item {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contact__item {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contact__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link:hover, .contact__link:focus {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.contact__icon {
  margin-right: 8px;
  fill: #757575;
}

@media (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .filters {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filters {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0 solid transparent;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filters__button:hover, .filters__button:focus {
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .filters__item:not(:last-child):nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.projects {
  display: block;
}

@media (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects__item {
  margin-bottom: 30px;
}

.projects__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__item {
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
  }
  .projects__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .projects__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
  }
  .projects__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__item:hover {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__image-container {
  position: relative;
  overflow: hidden;
}

.projects__image-container:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  opacity: 0;
}

@media (min-width: 480px) {
  .projects__image-container:before {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .projects__image-container:before {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .projects__image-container:before {
    width: 370px;
  }
}

.projects__link:hover .projects__image-container:before,
.projects__link:focus .projects__image-container:before {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translatey(0);
          transform: translatey(0);
  opacity: 0.9;
}

.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  opacity: 0;
}

.projects__link:hover .projects__description,
.projects__link:focus .projects__description {
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.projects__link {
  text-decoration: none;
}

.projects__description-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.projects__name {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item:not(:nth-child(4)) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.footer-socials .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link:hover, .socials__link:focus {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0 solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

.logo__studio--footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
}

.address {
  font-style: normal;
}

.address__location {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__mail {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .address__mail {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.address__tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .footer-socials {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials .slogan {
    margin-top: 0;
  }
}

.slogan {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .slogan {
    margin-top: 12px;
  }
}

.footer__icon {
  fill: #ffffff;
}

.subscribe {
  min-width: 450px;
}

@media screen and (max-width: 450px) {
  .subscribe {
    min-width: 100%;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/icon-send.svg");
  color: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */