.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;

  @include for-size(tablet) {
  padding-top: 26px;
  padding-bottom: 26px;
  }

  @include for-size(desktop) {
 padding-top: 24px;
  padding-bottom: 25px;
  }
}

.logo__web {
  color: $hover-text-color;
  font-family: Raleway, sans-serif;
}

.logo__studio {
  color: #000000;
  font-family: Raleway, sans-serif;
}

